<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <title>PIXL Heatmaps</title>
</head>
<body>
    <div class="navbar">
        <a class="navbartext" href="heatmap.html">PIXL Heatmaps</a>
        <a class="about " href="index.html">Home</a>
        <a class="about " href="about.html">About Us</a>

        <div class="dropdown">
            <button class="dropbtn">
                Elements
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="dropdown-item" href="/elements.html">Magnesium</a>
                <a class="dropdown-item" href="/elements.html">Aluminum</a>
                <a class="dropdown-item" href="/elements.html">Calcium</a>
                <a class="dropdown-item" href="/elements.html">Titanium</a>
                <a class="dropdown-item" href="/elements.html">Iron</a>
                <a class="dropdown-item" href="/elements.html">Silicon</a>
            </div>
        </div>
    </div>

    <div class="about-section">
        <h1>The Team</h1>
        
    </div>

    <div class="rows">




        <div class="column">
            <div class="card">
                <!--<img src="/w3images/team3.jpg" alt="Colin" style="width:100%">-->
                <div class="container">
                    <h2>Colin McAteer</h2>
                    <p class="title">Back-end Developer</p>
                    <p></p>
                    <p>john@example.com</p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../public/images/guillermo.jpg" alt="Guillermo" style="width:100%" height="299" />
                <div class="container">
                    <h2>Guillermo Haro</h2>
                    <p class="title">Front-end Developer</p>
                    <p>My name is Guillermo Haro. I am a Computer science major at CSUN. This project has shown me and taught me alot regarding the aerospace field. It makes me excited to learn much more regarding NASA. </p>
                    <p>guillermoharo55@gmail.com</p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!--<img src="/w3images/team2.jpg" alt="Shin" style="width:100%">-->
                <div class="container">
                    <h2>Dongmin Shin</h2>
                    <p class="title">Back-end Developer</p>
                    <p></p>
                    <p>shinwork100@gmail.com</p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../public/images/carlos.jpg" alt="Carlos" style="width:100%">
                <div class="container">
                    <h2>Carlos Guerrero</h2>
                    <p class="title">Back-end Developer</p>
                    <p>I am Carlos Guerrero. I am in Computer science major and deaf student at CSUN. This project is very consuming my time and investing my time to learn new challenge. i have opportunity to learn more about NASA.</p>
                    <p>guerreroc47@gmail.com</p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!--<img src="/w3images/team2.jpg" alt="Jaysen" style="width:100%">-->
                <div class="container">
                    <h2>Jaysen Gan</h2>
                    <p class="title">Back-end Developer</p>
                    <p></p>
                    <p> jaysen0g@gmail.com</p>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-distributed">

        <p>Designed by: </p>
        <div class="footer-left">

            <p class="footer-links">


                <a>Guillermo Haro</a>

                <a>Carlos Guerrero</a>

                <a>Colin McAteer</a>

                <a>Dongmin Shin</a>

                <a>Jaysen Gan</a>
            </p>

            <p>PIXL &copy; 2020</p>
        </div>

    </div>
</body>
</html>
