<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
  <title>PIXL Heatmaps</title>
</head>

<body class="element-page">
  <div class="navbar">
    <a class="navbartext" href="/">PIXL Heatmaps</a>
    <div class="dropdown">
      <button class="dropbtn">
        Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="dropdown-item" href="/mg">Magnesium</a>
        <a class="dropdown-item" href="/al">Aluminum</a>
        <a class="dropdown-item" href="/ca">Calcium</a>
        <a class="dropdown-item" href="/ti">Titanium</a>
        <a class="dropdown-item" href="/fe">Iron</a>
        <a class="dropdown-item" href="/si">Silicon</a>
      </div>
    </div>

    <div class="detectors">
      <div class="detector-buttons" id="my_styles">
        <button type="submit" class="detector-btns btn-warning" id="1">Detector A</button>
        <button type="submit" class="detector-btns btn-warning" id="2">Detector B</button>
      </div>
      <footer class="footer-distributed">
        <p>Designed by: </p>
        <div class="footer-left">
          <p class="footer-links">
            <a>Guillermo Haro</a>
            <a>Carlos Guerrero</a>
            <a>Colin McAteer</a>
            <a>Dongmin Shin</a>
            <a>Jaysen Gan</a>
          </p>
          <p>PIXL &copy; 2020</p>
        </div>
      </footer>
</body>

</html>