<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/myapp/public/javascripts/elements.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <title>PIXL Heatmaps</title>
</head>

<body class="element-page">
  <div class="navbar">
    <a class="navbartext" href="heatmap.html">PIXL Heatmaps</a>
    <div class="dropdown">
      <button class="dropbtn">
        Elements
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="dropdown-item" href="/elements.html">Magnesium</a>
        <a class="dropdown-item" href="/elements.html">Aluminum</a>
        <a class="dropdown-item" href="/elements.html">Calcium</a>
        <a class="dropdown-item" href="/elements.html">Titanium</a>
        <a class="dropdown-item" href="/elements.html">Iron</a>
        <a class="dropdown-item" href="/elements.html">Silicon</a>
      </div>
    </div>
  </div>

  <div class="paragraph">
    <h2>
      PIXL: Planetary Instrument for X-Ray Lithochemistry
    </h2>
    <p>
      Planetary Instrument for X-Ray Lithochemistry (PIXL) is an x-ray
      fluorescence spectrometer to determine the fine scale elemental
      composition of Martian surface materials designed for the Perseverance
      rover as part of the Mars 2020 mission.
    </p>
  </div>
</body>

</html>